<!DOCTYPE html>
<html>
  <head>
    <title>LDS Calling Submission</title>
    <link rel="stylesheet" media="screen" type="text/css" href="/css/styles.css">
  </head>
  <body>
    <header>
      <h1>Church Callings</h1>
      <h2>Choose your option below (login required for full access)</h2>
      <nav id="navbar">
        <ul>
          <li><a href="/calling">Calling</a></li>
          <li><a href="/member">Member</a></li>
          <li><a href="/organization">Organization</a></li>
          <li><a href="/position">Position</a></li>
          <li><a href="/user">User</a></li>
          <li><a href="/login" class="current lastitem">Login</a></li>
        </ul>
      </nav>
    </header>
  </body>
</html>
