<!DOCTYPE html>
<html>
  <head>
    <title>Callings - Member Maintenance</title>
    <link rel="stylesheet" media="screen" type="text/css" href="css/styles.css">
  </head>
  <body>
    <header>
      <h1 class="titleh1">Church Callings</h1>
      <nav id="navbar">
        <ul>
          <li><a href="/calling">Calling</a></li>
          <li><a href="/member" class="current">Member</a></li>
          <li><a href="/organization">Organization</a></li>
          <li><a href="/position">Position</a></li>
          <li><a href="/user">User</a></li>
          <li><a href="/login" class="lastitem">Login</a></li><br><br>
        </ul>
      </nav>
    </header>
    <main>
      <h1>Member Maintenance</h1>
      <form action='/addMember' method="post">
        <fieldset>
          <legend>Add Member</legend>
          <label for="firstname">First Name:</label>
          <input type="text" name="firstname"><br>
          <label for="lastname">Last Name:</label>
          <input type="text" name="lastname"><br><br>
          <input type="submit" name="addorg" value="Add Member">
        </fieldset>
      </form>
    </main>

  </body>
</html>
